.navbar {
  background-color: black;
}  

body {
  background-color: darkred ;
}

/*h3 {
  color: white;      
}*/

/*p {
  color: white;
}*/

.posters {
  cursor: pointer; 
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}