<!DOCTYPE html>
<html lang="pt-br" ng-app="MegaSeries">
<head>
  <title>Mega Séries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  
  <link rel="stylesheet" href="css/mega-series.css"/>
  

  
</head>
<body ng-controller="megaSeriesCtrl">
    <div class="container">
        <!-- Barra de Pesquisa -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Mega Séries</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#home" data-toggle="tab">Página Inicial</a></li>
                    <li><a href="#profile" data-toggle="tab" ng-click="zeraSearchedList()">Perfil</a></li>
                    <li><a href="#watchList" data-toggle="tab" ng-click="zeraSearchedList()">WatchList</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="nameSerie">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" ng-click="searchSeries(nameSerie)">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>


        <div class="tab-content"> 
            <!--searched-->
            <div id="home" class="tab-pane in active">
                <div class="display" ng-repeat="serie in series"> 
                    <img class="posters" ng-src="{{serie.Poster !== 'N/A' ? serie.Poster: 'http://static.wixstatic.com/media/a12bdd_3ada577816f54eadac4daae575e55de6~mv2.gif_256'}}"/>
                    <p class="title">{{serie.Title}}</p>                 
                    <button class="btn btn-primary button" ng-click="addSerieProfile(serie)">Adicionar ao seu Perfil</button>
                    <button class="btn btn-warning button" ng-click="addSerieWatchList(serie)">Adicionar à sua WatchList</button> 
                </div>
                <h1 class="pageTitle">SÉRIES QUE VOCÊ ACOMPANHA</h1>
                <div class="display" ng-repeat="serie in profileSeries">
                        <div class="hoverzoom">
                            <div id="thumbsize">
                                <img id="imagesize" class="posters" src="{{serie.Poster !== 'N/A' ? serie.Poster: 'http://static.wixstatic.com/media/a12bdd_3ada577816f54eadac4daae575e55de6~mv2.gif_256'}}" alt="Lights"/>
                                <div class="retina">
                                    <p class="title">{{serie.Title}}</p>
                                    <button class="btn btn-info btn-block button" data-toggle="modal" data-target="#myModal{{$index}}">Sobre</button>
                                    <button class="btn btn-danger btn-block button" ng-click="profileRemove(serie)">Remover Série</button>
                                </div>  
                            </div>
                        </div>
                    </div>
            </div>


            <!-- profile -->
            <div id="profile" class="tab-pane">
                <h1 class="pageTitle">SÉRIES QUE VOCÊ ACOMPANHA</h1>
                <div id="infoicon"> </div>

                <md-list-item class="display" ng-repeat= "serie in profileSeries">
                    <div>
                        <div class="hoverzoom">
                            <div id="thumbsize">
                                <img id="imagesize" class="posters" src="{{serie.Poster !== 'N/A' ? serie.Poster: 'http://static.wixstatic.com/media/a12bdd_3ada577816f54eadac4daae575e55de6~mv2.gif_256'}}" alt="Lights"/>
                                <div class="retina">
                                    <p class="title">{{serie.Title}}</p>
                                    <button class="btn btn-info btn-block button" data-toggle="modal" data-target="#myModal{{$index}}">Sobre</button>
                                    <button class="btn btn-danger btn-block button" ng-click="profileRemove(serie)">Remover Série</button>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <!-- Modal Home -->

                    <div id="myModal{{$index}}" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
    
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title alinhacentro">{{serie.Title}}</h4>
                                </div>
                                <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img id="imagesize" src="{{serie.Poster !== 'N/A' ? serie.Poster: 'http://static.wixstatic.com/media/a12bdd_3ada577816f54eadac4daae575e55de6~mv2.gif_256'}}" alt="Lights">
                                    </div>
                                    <div class="col-md-8 sinopse"><p>{{serie.Plot}}</p></div>
                                    <div class="col-md-8 info">
                                        <img class="infoicons" src="icons/imdb3.png">
                                        <p><b>Média no IMDb:</b> {{serie.imdbRating}}</p>
                                        <img class="infoicons" src="icons/imdbrated.png">
                                        <p><b>Classificação Indicativa:</b> {{serie.Rated}}</p>
                                        <div class="input-group input">
                                            <input ng-model="nota" type="text" class="form-control" placeholder="Ex.: 8.5">
                                                <div class="input-group-btn">
                                                 <button class="btn btn-basic" type="submit" ng-click="setMyRating(serie,nota)">
                                                    <i>Ok</i>
                                                </button>
                                            </div>
                                        </div>
                                        <img class="avaliacao" src="icons/avaliacao.jpg">
                                        <p><b>Sua Avaliação:</b> {{serie.myRating}}</p>
                                        <div class="input-group input">
                                            <input ng-model="lastep" type="text" class="form-control" placeholder="Ex.: S01EP05">
                                                <div class="input-group-btn">
                                                 <button class="btn btn-basic" type="submit" ng-click="setLastEpisode(serie,lastep)">
                                                    <i>Ok</i>
                                                </button>
                                            </div>
                                        </div>
                                        <img class="lastEpisode" src="icons/last-episode.jpg">
                                        <p><b>Último episódio que você viu:</b> {{serie.lastEpisode}}</p>
                                    </div>
                                </div>
                                </div>
                                
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
      
                        </div>
                    </div>
                </md-list-item>
            </div>

            <!-- Watchlist -->
            <div id="watchList" class="tab-pane">
                <h1 class="pageTitle">WATCHLIST</h1>
                <div id="infoicon"></div>
                <md-list-item class="display" ng-repeat= "serie in watchList">
                    <div>
                        <div>
                            <div id="thumbsize">
                                <img id="imagesize" class="posters" src="{{serie.Poster !== 'N/A' ? serie.Poster: 'http://static.wixstatic.com/media/a12bdd_3ada577816f54eadac4daae575e55de6~mv2.gif_256'}}" alt="Lights">
                                <div>
                                    <p class="title">{{serie.Title}}</p>
                                    <button class="btn btn-primary btn-block button" ng-click="addSerieProfile(serie)">Adicionar ao Meu Perfil</button>
                                </div>  
                            </div>
                        </div>
                    </div>
                </md-list-item>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="home/app.js"></script>
    <script src="home/service/seriesAPIService.js"></script>
    <script src="home/controller/megaSeriesController.js"></script> 
</body>
</html>
